* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

html {
     body {
          background-color: black;
     }
}

.test-slider {
     .slider-main {
          @media only screen and (min-width: 1200px) {
               width: calc(100% - 210px);
          }

          @media only screen and (min-width: 1800px) {
               width: calc(100% - 400px);
          }

          margin-left: auto;
          padding:0 15px;

          .main-slider-inner {
               max-width: 1280px;
               position: relative;
          }

          .slider-flex {
               display: flex;
               align-items: stretch;
               width: 100%;

               @media only screen and (max-width:767px) {
                    flex-direction: column;
               }

               .slider-sec-1 {
                    width: 40%;

                    @media only screen and (max-width:767px) {
                         width: 100%;
                    }

                    .inner {
                         width: 100%;
                         height: 100%;
                         display: flex;
                         align-items: center;
                         justify-content: center;
                         flex-direction: column;
                         overflow: hidden;

                         .flex-inner {
                              display: flex;
                              flex-wrap: nowrap;
                              width: 100%;
                              justify-content:flex-start;
                              transition: 1s all !important;
                              -webkit-transition: 1s all !important;
                              -moz-transition: 1s all !important;
                              -ms-transition: 1s all !important;
                              -o-transition: 1s all !important;
                         }
                    }

                    .pera {
                         min-width: 100%;

                         padding-right: 15px;

                         p {
                              color: #fff;
                         }
                    }
               }

               .slider-sec-2 {
                    width: 60%;


                    overflow: hidden;


                    aspect-ratio: 480/450;

                    @media only screen and (max-width:767px) {
                         width: 100%;
                         aspect-ratio: 480/600;
                    }

                    .slider-sec {
                         height: 100%;

                         .slider-inner {
                              height: 100%;
                              position: relative;

                              .pics {
                                   box-sizing: border-box;

                                   img {
                                        width: 100%;
                                        aspect-ratio: 480/600;
                                        object-fit: cover;

                                   }
                              }

                              .pic-1,
                              .pic-2,
                              .pic-3 {
                                   position: absolute;
                                   width: 100%;
                                   height: 100%;
                                   max-width: 480px;
                                   max-height: 600px;
                                   top: 50%;
                                   transform: translateY(-50%);
                                   -webkit-transform: translateY(-50%);
                                   -moz-transform: translateY(-50%);
                                   -ms-transform: translateY(-50%);
                                   -o-transform: translateY(-50%);
                              }

                              .pic-1 {
                                   z-index: 10;
                                   right: 0;
                                   transform: translateY(-50%) scaleX(1) scaleY(1);
                                   -webkit-transform: translateY(-50%) scaleX(1) scaleY(1);
                                   -moz-transform: translateY(-50%) scaleX(1) scaleY(1);
                                   -ms-transform: translateY(-50%) scaleX(1) scaleY(1);
                                   -o-transform: translateY(-50%) scaleX(1) scaleY(1);
                                   transition: 1.5s all;
                                   -webkit-transition: 1.5s all;
                                   -moz-transition: 1.5s all;
                                   -ms-transition: 1.5s all;
                                   -o-transition: 1.5s all;
                                   @media only screen and (max-width:767px) 
{
                                        transform: translateY(-50%) scaleX(0.85) scaleY(0.9);
                                        -webkit-transform: translateY(-50%) scaleX(0.85) scaleY(0.9);
                                        -moz-transform: translateY(-50%) scaleX(0.85) scaleY(0.9);
                                        -ms-transform: translateY(-50%) scaleX(0.85) scaleY(0.9);
                                        -o-transform: translateY(-50%) scaleX(0.85) scaleY(0.9);
                                        right: -8%;
                                   }
                              }

                              .pic-2 {
                                   z-index: 8;
                                   left: 20%;
                                   transform: translateY(-50%) scaleX(0.87) scaleY(0.87);
                                   -webkit-transform: translateY(-50%) scaleX(0.87) scaleY(0.87);
                                   -moz-transform: translateY(-50%) scaleX(0.87) scaleY(0.87);
                                   -ms-transform: translateY(-50%) scaleX(0.87) scaleY(0.87);
                                   -o-transform: translateY(-50%) scaleX(0.87) scaleY(0.87);
                                   transition: 1.5s all;
                                   -webkit-transition: 1.5s all;
                                   -moz-transition: 1.5s all;
                                   -ms-transition: 1.5s all;
                                   -o-transition: 1.5s all;
                                   @media only screen and (max-width:767px) 
{
                                        transform: translateY(-50%) scaleX(0.75) scaleY(0.8);
                                        -webkit-transform: translateY(-50%) scaleX(0.75) scaleY(0.8);
                                        -moz-transform: translateY(-50%) scaleX(0.75) scaleY(0.8);
                                        -ms-transform: translateY(-50%) scaleX(0.75) scaleY(0.8);
                                        -o-transform: translateY(-50%) scaleX(0.75) scaleY(0.8);
                                        left: -5%;

                                        @media only screen and (min-width:540px) {
                                             transform: translateY(-50%) scaleX(0.75) scaleY(0.8);
                                             -webkit-transform: translateY(-50%) scaleX(0.75) scaleY(0.8);
                                             -moz-transform: translateY(-50%) scaleX(0.75) scaleY(0.8);
                                             -ms-transform: translateY(-50%) scaleX(0.75) scaleY(0.8);
                                             -o-transform: translateY(-50%) scaleX(0.75) scaleY(0.8);
                                             left: 5%;
                                        }

                                        @media only screen and (min-width:700px) {
                                             transform: translateY(-50%) scaleX(0.75) scaleY(0.8);
                                             -webkit-transform: translateY(-50%) scaleX(0.75) scaleY(0.8);
                                             -moz-transform: translateY(-50%) scaleX(0.75) scaleY(0.8);
                                             -ms-transform: translateY(-50%) scaleX(0.75) scaleY(0.8);
                                             -o-transform: translateY(-50%) scaleX(0.75) scaleY(0.8);
                                             left: 13%;
                                        }
                                   }

                                   .bg {
                                        width: 100%;
                                        height: 100%;
                                        position: relative;

                                        &::before {
                                             position: absolute;
                                             content: '';
                                             background-color: black;
                                             opacity: .6;
                                             top: 0;
                                             left: 0;
                                             width: 100%;
                                             height: 100%;
                                        }
                                   }
                              }

                              .pic-3 {
                                   z-index: 6;
                                   left: 1.5%;
                                   transform: translateY(-50%) scaleX(0.73) scaleY(0.73);
                                   -webkit-transform: translateY(-50%) scaleX(0.73) scaleY(0.73);
                                   -moz-transform: translateY(-50%) scaleX(0.73) scaleY(0.73);
                                   -ms-transform: translateY(-50%) scaleX(0.73) scaleY(0.73);
                                   -o-transform: translateY(-50%) scaleX(0.73) scaleY(0.73);
                                   transition: 1.5s all;
                                   -webkit-transition: 1.5s all;
                                   -moz-transition: 1.5s all;
                                   -ms-transition: 1.5s all;
                                   -o-transition: 1.5s all;
                                   opacity: .3;
                                   @media only screen and (max-width:767px) 
{
                                        transform: translateY(-50%) translateX(-15%) scaleX(0.65) scaleY(0.65);
                                        -webkit-transform: translateY(-50%) translateX(-15%) scaleX(0.65) scaleY(0.65);
                                        -moz-transform: translateY(-50%) translateX(-15%) scaleX(0.65) scaleY(0.65);
                                        -ms-transform: translateY(-50%) translateX(-15%) scaleX(0.65) scaleY(0.65);
                                        -o-transform: translateY(-50%) translateX(-15%) scaleX(0.65) scaleY(0.65);
                                   }

                                   .bg {
                                        width: 100%;
                                        height: 100%;
                                        position: relative;

                                        &::before {
                                             position: absolute;
                                             content: '';
                                             background-color: black;
                                             opacity: .3;
                                             top: 0;
                                             left: 0;
                                             width: 100%;
                                             height: 100%;
                                        }
                                   }
                              }
                         }
                    }
               }
          }

          .button-flex-section {
               position: absolute;
               bottom: 30%;
               left: 40%;
               transform: translateX(-50%);
               -webkit-transform: translateX(-50%);
               -moz-transform: translateX(-50%);
               -ms-transform: translateX(-50%);
               -o-transform: translateX(-50%);
               z-index: 20;

               .slide-btn {
                    background-color: transparent;
                    outline: 0;
                    border: 0;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    width: 100px;
                    height: 100px;
                    transition: .2s all !important;
                    -webkit-transition: .2s all !important;
                    -moz-transition: .2s all !important;
                    -ms-transition: .2s all !important;
                    -o-transition: .2s all !important;
                    overflow: hidden;
                    padding: 2px 2px;

                    svg {
                         width: 100%;
                         height: 100%;
                    }
               }

               .custom-border {
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    position: relative;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
               }

               .slide-btn:not(:disabled):hover {
                    .circle {
                         animation: border .4s ease 1 forwards;
                         cursor: pointer;
                         -webkit-animation: border .4s ease 1 forwards;
                    }

               }

          }
     }
}

.active-slide-2 {
     z-index: 8 !important;
     right: 0 !important;
     transform: translateY(-50%) scaleX(0.8) scaleY(0.85) !important;
     -webkit-transform: translateY(-50%) scaleX(0.8) scaleY(0.85) !important;
     -moz-transform: translateY(-50%) scaleX(0.8) scaleY(0.85) !important;
     -ms-transform: translateY(-50%) scaleX(0.8) scaleY(0.85) !important;
     -o-transform: translateY(-50%) scaleX(0.8) scaleY(0.85) !important;
     transition: 1.5s all !important;
     -webkit-transition: 1.5s all !important;
     -moz-transition: 1.5s all !important;
     -ms-transition: 1.5s all !important;
     -o-transition: 1.5s all !important;

     @media only screen and (max-width:767px) {
          transform: translateY(-50%) scaleX(0.75) scaleY(0.8) !important;
          -webkit-transform: translateY(-50%) scaleX(0.75) scaleY(0.8) !important;
          -moz-transform: translateY(-50%) scaleX(0.75) scaleY(0.8) !important;
          -ms-transform: translateY(-50%) scaleX(0.75) scaleY(0.8) !important;
          -o-transform: translateY(-50%) scaleX(0.75) scaleY(0.8) !important;
     }
}

.active-slide-1 {
     z-index: 10 !important;
     left: 34% !important;
     transform: translateY(-50%) scaleX(1) scaleY(1) !important;
     -webkit-transform: translateY(-50%) scaleX(1) scaleY(1) !important;
     -moz-transform: translateY(-50%) scaleX(1) scaleY(1) !important;
     -ms-transform: translateY(-50%) scaleX(1) scaleY(1) !important;
     -o-transform: translateY(-50%) scaleX(1) scaleY(1) !important;
     transition: 1.5s all !important;
     -webkit-transition: 1.5s all !important;
     -moz-transition: 1.5s all !important;
     -ms-transition: 1.5s all !important;
     -o-transition: 1.5s all !important;
     opacity: 1;
     @media only screen and (max-width: 767px) 
{
          transform: translateY(-50%) scaleX(0.85) scaleY(0.9) !important;
          -webkit-transform: translateY(-50%) scaleX(0.85) scaleY(0.9) !important;
          -moz-transform: translateY(-50%) scaleX(0.85) scaleY(0.9) !important;
          -ms-transform: translateY(-50%) scaleX(0.85) scaleY(0.9) !important;
          -o-transform: translateY(-50%) scaleX(0.85) scaleY(0.9) !important;
     }

     .bg {
          width: 100%;
          height: 100%;
          position: relative;

          &::before {
               position: absolute;
               content: '';
               background-color: transparent !important;
               opacity: 1 !important;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
          }
     }
}

.active-slide-3 {
     z-index: 8 !important;
     left: 34% !important;
     transform: translateY(-50%) scaleX(1) scaleY(1) !important;
     -webkit-transform: translateY(-50%) scaleX(1) scaleY(1) !important;
     -moz-transform: translateY(-50%) scaleX(1) scaleY(1) !important;
     -ms-transform: translateY(-50%) scaleX(1) scaleY(1) !important;
     -o-transform: translateY(-50%) scaleX(1) scaleY(1) !important;
     transition: 1.5s all !important;
     -webkit-transition: 1.5s all !important;
     -moz-transition: 1.5s all !important;
     -ms-transition: 1.5s all !important;
     -o-transition: 1.5s all !important;
     opacity: 1 !important;
     @media only screen and (max-width: 767px) 
{
          transform: translateY(-50%) scaleX(0.85) scaleY(0.9) !important;
          -webkit-transform: translateY(-50%) scaleX(0.85) scaleY(0.9) !important;
          -moz-transform: translateY(-50%) scaleX(0.85) scaleY(0.9) !important;
          -ms-transform: translateY(-50%) scaleX(0.85) scaleY(0.9) !important;
          -o-transform: translateY(-50%) scaleX(0.85) scaleY(0.9) !important;
     }

     .bg {
          width: 100%;
          height: 100%;
          position: relative;

          &::before {
               position: absolute;
               content: '';
               background-color: transparent !important;
               opacity: 1 !important;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
          }
     }
}

.active {
     left: 0 !important;
     transform: scaleX(1.3) scaleY(1.3) translateX(130%) !important;
     -webkit-transform: scaleX(1.3) scaleY(1.3) translateX(130%) !important;
     -moz-transform: scaleX(1.3) scaleY(1.3) translateX(130%) !important;
     -ms-transform: scaleX(1.3) scaleY(1.3) translateX(130%) !important;
     -o-transform: scaleX(1.3) scaleY(1.3) translateX(130%) !important;
     transition: 1.5s all;
     -webkit-transition: 1.5s all;
     -moz-transition: 1.5s all;
     -ms-transition: 1.5s all;
     -o-transition: 1.5s all;
     opacity: 0;
}





.circle {
     position: relative;
     overflow: hidden;
     width: 90px;
     height: 90px;
     border-radius: 50%;
     background: transparent;
     box-shadow: 150px -60px 0 2px black, -150px -60px 0 2px black, -150px 60px 0 2px black, 150px 60px 0 2px black, 0 0 0 0px black;



}


@keyframes border {
     0% {
          box-shadow: 60px -60px 0 2px black, -60px -60px 0 2px black, -60px 60px 0 2px black, 160px 160px 0 2px rgb(0, 0, 0), 0 0 0 0px black;
     }

     25% {
          box-shadow: 0 -125px 0 2px black, -60px -60px 0 2px black, -60px 60px 0 2px black, 660px 0 2px black, 0 0 0 2px #f55;
     }

     50% {
          box-shadow: 0 -125px 0 2px black, -125px 0px 0 2px black, -60px 60px 0 2px black, 60px 560px 0 2px black, 0 0 0 2px #f55;
     }

     75% {
          box-shadow: 0 -125px 0 2px black, -125px 0px 0 2px black, 0px 125px 0 2px black, 60px 260px 0 2px black, 0 0 0 2px #f55;
     }

     100% {
          box-shadow: 0 -125px 0 2px black, -125px 0px 0 2px black, 0px 125px 0 2px black, 120px 1040px 450px 2px black, 0 0 0 2px #f55;
     }
}